<template name="home">
	<header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 logo">
					<h1 class="logo"><img class="center-block" src="img/logo.png" alt=""></h1>
				</div>
				<div class="col-sm-12">
					<h2 class="text-center aptarnavimas">Įvertinkite mūsų aptarnavimą...</h2>
				</div>
			</div>
		</div>
	</header>
	<!-- <a href="#" class="logout">Logout</a> -->
	<main>
		{{> yield}}
	</main>

	<footer>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 text-center">
					<p>www.eJura.lt | Liepų g. 24, Klaipėda</p>
				</div>
			</div>
		</div>
	</footer>
</template>
