<template name="info">
	<div class="panel panel-default">
		<div class="panel-heading">
			Iš kur sužinojote apie mus?
		</div>
		<div class="panel-body">
			<div class="list-group">
				<button type="button" class="list-group-item" name="facebook" >facebook</button>
				<button type="button" class="list-group-item" name="google" >google</button>
				<button type="button" class="list-group-item" name="spauda" >spauda</button>
				<button type="button" class="list-group-item" name="draugai" >draugai</button>
				<button type="button" class="list-group-item" name="kita" >kita</button>
			</div>
		</div>
	</div>
</template>