<template name="register">
	<div class="container-fluid coffee-bg">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="well well-sm">
   					 <form>
						<div class="form-group clearfix">
							<div class="input-padding input-group">
								<span class="input-group-addon glyphicon glyphicon-user" aria-hidden="true" id="user-attach"></span>
								<input type="text" class="form-control" placeholder="Vartotojo Vardas" aria-describedby="user-attach" id="username">
							</div>

							<div class="input-padding input-group">
								<span class="input-group-addon glyphicon glyphicon-lock" aria-hidden="true" id="pass-attach"></span>
								<input type="text" class="form-control" placeholder="Slaptažodis" aria-describedby="pass-attach" id="password">
							</div>
							<button type="submit" class="btn btn-info btn-block">Registruotis</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>