/* CSS declarations go here */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin-ext);

body {
    font-family: Roboto;
    background-color: #f1f1f1;
}

.coffee-bg {
    background: url('img/coffee_bg.jpg') no-repeat center center;
    min-height: 600px;
}

.input-padding {
    padding-bottom: 1em;
}

.panel-heading {

}

.panel-heading-enhancment {
    background-color: #ccb599 !important;
    color: white !important;
    font-size: 1.75em;
    padding: 1.25em 1.75em;
}

/* Header Background */
.gradient {

}

/* H2 text center format */

h2 {
    font-weight: 300;

}
.col-md-3 img {
    cursor: pointer;
    padding: 1em;
}


/*footer {
    position: absolute;
    bottom: 0;
    left: 40%;
}*/
